footer {
    background: #7b227b;
    padding: 14px;
    p {
        color: #fff;
        font-size: 12px;
        text-align: justify;
        margin-bottom: 0px;
        a {
            color: #fff !important;
        }
    }
    .texto-absolute {
        color: #fff;
        font-size: 12px;
        text-align: right;
    }
}