body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1; }

main {
  min-height: 500px; }

.padding-top-section {
  padding-top: 70px; }

.padding-bottom-section {
  padding-bottom: 70px; }

.btn-link {
  background: #bb31b9;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s ease;
  padding-left: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-right: 14px; }
  .btn-link:hover {
    background: #a82ba6 !important;
    color: #fff;
    text-decoration: none; }

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
  padding-top: 60px;
  padding-bottom: 10px; }
  @media screen and (max-width: 340px) {
    header {
      padding-top: 30px !important; }
      header .btn-link {
        margin-top: 90px; } }
  @media screen and (max-width: 560px) {
    header .logo span img {
      width: 40px !important; }
    header .logo h4 {
      font-size: 16px !important; }
    header .btn-link {
      font-size: 14px !important; } }
  header .container .row {
    display: flex;
    align-items: center; }
    header .container .row .logo {
      text-decoration: none;
      align-items: center;
      display: flex; }
      header .container .row .logo span {
        padding: 6px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        background: #f3fefd; }
        header .container .row .logo span img {
          width: 55px;
          border-radius: 50%; }
      header .container .row .logo h4 {
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 0px; }

section#image-banner {
  height: 89vh;
  background-position: center center !important;
  background-size: cover !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  section#image-banner:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #cbb8cc;
    opacity: 0.8; }
  section#image-banner h1 {
    margin-top: -50px;
    font-size: 52px;
    color: #a82ba6;
    font-weight: bold;
    margin-right: 10px;
    text-align: left;
    margin-bottom: 40px; }
  section#image-banner .row {
    justify-content: flex-end; }
  @media screen and (max-width: 340px) {
    section#image-banner {
      height: 100vh; }
      section#image-banner h1 {
        margin-top: -20px !important;
        text-align: center;
        font-size: 42px !important;
        line-height: 45px;
        color: #fff !important;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
      section#image-banner:before {
        opacity: 0.85; }
      section#image-banner .acoes {
        text-align: center; } }
  @media screen and (min-width: 341px) and (max-width: 560px) {
    section#image-banner {
      height: 78vh; }
      section#image-banner:before {
        opacity: 0.85; }
      section#image-banner h1 {
        margin-top: -20px !important;
        text-align: center;
        font-size: 42px !important;
        line-height: 45px;
        color: #fff !important;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
      section#image-banner .acoes {
        text-align: center; } }
  section#image-banner .texto-absolute {
    position: absolute;
    right: 30px;
    color: #fff;
    font-weight: bold;
    bottom: 30px; }
  section#image-banner .button-scroll {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 13px);
    width: 26px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #a82ba6;
    cursor: pointer;
    z-index: 9;
    transition: all 1s; }
    section#image-banner .button-scroll:hover {
      border-color: #a82ba6 !important;
      background: rgba(168, 43, 166, 0.6) !important; }
      section#image-banner .button-scroll:hover span {
        background: #fff !important; }
    section#image-banner .button-scroll span {
      height: 10px;
      width: 2px;
      position: absolute;
      left: calc(50% - 1px);
      background: #a82ba6;
      -webkit-animation: finger 1.5s infinite alternate;
      -webkit-animation: finger 1.5s infinite;
      animation: finger 1.5s infinite; }

@-webkit-keyframes finger {
  10% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }

@keyframes finger {
  10% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }

footer {
  background: #b3b;
  padding: 14px; }
  footer p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0px; }
    footer p a {
      color: #fff !important; }
